.figure {
  &__preview {
    text-align: center;
    cursor: zoom-in;
    margin: 2rem 0;
    padding: 0;
    width: 100%;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    pointer-events: none;
  }

  &__preview-image {
    max-width: 100%;
    height: auto;
    pointer-events: auto;
  }

  &--beforeChange &__preview-image {
    view-transition-name: figure-image;
  }

  &__fullscreen {
    position: fixed;
    inset: 0;
    padding: 2rem;
    background-color: rgba(#ffffff, 0.9);
    border: none;
    cursor: zoom-out;
  }

  &__fullscreen-image {
    max-width: 100%;
    height: auto;
    max-height: 100%;
    view-transition-name: figure-image;
  }
}
