@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.panel {
  max-width: 32rem;
  margin: 0 auto;

  &Head {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: $palette-2;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    margin-bottom: 0.5rem;
  }

  &Body {
    background-color: white;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
  }
}

.title {
  font-size: 1.2rem;
  font-weight: 800;
}

.wide {
  max-width: 40rem;
}

.transparent {
  background-color: transparent;
  padding-top: 0;
}
