@import "styles/variables.scss";
@import "styles/mixins.scss";

.seriesIndex {
  background-color: $palette-2;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 3rem;
}

.seriesIndexItem {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
}

.itemNumber {
  flex: 0 0 2rem;
  color: $palette-1;
  font-weight: bold;
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  border: 2px solid $palette-1;
  text-align: center;
  line-height: 2rem;
  margin-top: 0.25rem;
}

.numberCurrent {
  color: white;
  background-color: $palette-1;
}
