@import "styles/variables.scss";
@import "styles/mixins.scss";

.czechitasIntro {
  @include padded;
  max-width: 40rem;
  margin: 2rem auto;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.czechitasIcon {
  margin-top: 1rem;
  color: #692D8B;
  flex-shrink: 0;
}
