.lesson-card {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  width: 22rem;
  margin: 2rem 1rem 3rem 1rem;
  padding: 0 2rem 2rem 2rem;
  background-color: $color-palette-5;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px lightgray;

  &__lead {
    flex: 1;
  }

  &__controls {
    padding-top: 2.5rem;
    padding-bottom: 1rem;
    text-align: right;
  }
}