$display-xs: 380px;
$display-sm: 528px;
$display-md: 840px;
$display-lg: 1200px;

$container-sm: 480px; // 720 - 48
$container-md: 792px; // 840 - 48
$container-lg: 1152px; // 1200 - 48

$palette-1: #2c3e66; // Delft blue
$palette-2: #ffe563; // Naples yellow
$palette-3: #e1e9f4; // Alice blue
$palette-4: #e0525b; // Indian red

$palette-1-darker: darken($palette-1, 15%);
$palette-2-darker: darken($palette-2, 15%);

$font-family: 'Montserrat', sans-serif;
$font-size: 16px;

$color-title: #333;
$color-text: #111;
