/todo.md

# Build and output dirs
/dist/
/node_modules/

# Editor/IDE project files
# VSCode
/.vscode/
# IntelliJ Idea and other JetBrains IDE
/.idea/

# Operating system cache files

# MacOS
.DS_Store

# Windows
Thumbs.db

.env
.env.local
.env.production
.env.development

/docker/data
