.figure {
  margin: 1.5rem 0;
}

.preview {
  text-align: center;
  cursor: zoom-in;
  padding: 0;
  width: 100%;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.previewImage {
  max-width: 100%;
  height: auto;
  pointer-events: auto;
}

.fullscreen {
  position: fixed;
  inset: 0;
  padding: 2rem;
  background-color: transparent;
  border: none;
  cursor: zoom-out;
  visibility: hidden;

  @media (prefers-reduced-motion: no-preference) {
    transition-property: background-color, visibility;
    transition-duration: 200ms; // Same in JavaScript
  }

  .open & {
    background-color: rgba(#ffffff, 0.95);
    visibility: inherit;
  }
}

.fullscreenImage {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

.caption {
  font-size: 0.875rem;
  text-align: right;
  color: #666;
  margin-top: 0.25rem;

  a {
    color: #666;
  }
}
