@import "/styles/variables.scss";

.exercises {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.exc {
  display: flex;
  padding: 1rem;
  background-color: $palette-2;
  align-items: baseline;
  margin-bottom: 0.5rem;
  text-decoration: none;
  color: $color-text;;
}

.rounded {
  border-radius: 0.5rem;
}

a.exc:hover {
  transform: scale(1.02);
  transition: transform 400ms;
  background-color: $palette-2-darker;
}

.num {
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  background-color: $palette-1;
  color: white;
  font-size: 1.1rem;
  font-weight: 800;
  line-height: 2rem;
  text-align: center;
  margin-right: 1rem;
}

.title {
  font-size: 1.1rem;
  line-height: 1.2;
  font-weight: 800;
}
