@import "styles/variables.scss";
@import "styles/mixins.scss";

.rootLayout {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  // NOTE: This is a bit hacky to prevent pre tags from overflowing
  // SEE: https://css-tricks.com/preventing-a-grid-blowout/
  grid-template-columns: minmax(0, 1fr);
}

.notFound {
  @include padded;
  text-align: center;
  margin: 2rem auto;
  max-width: 20rem;
}

.errorCode {
  font-size: 3rem;
  color: $color-title;
}
