@import "/styles/variables.scss";

.lessonCard {
  display: flex;
  align-items: baseline;
  margin-bottom: 1rem;
}

.num {
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  background-color: $palette-2;
  color: $palette-1;
  font-size: 1.2rem;
  font-weight: 800;
  line-height: 2rem;
  text-align: center;
  margin-right: 1rem;
}

.main {
  flex: 1;
}

a.title {
  text-decoration: none;
  color: $color-title;

  &:hover {
    text-decoration: underline;
  }

  h2 {
    margin: 0;
    line-height: 1.25;
    font-size: 1.2rem;
  }
}

.lead {
  margin-top: 0.5rem;
}
