@import "styles/variables.scss";
@import "styles/mixins.scss";

.bannerLinks {
  display: flex;
  flex: 1;
  align-items: flex-start;
  gap: 1rem;
  
  & > * {
    flex: 1;
  }

  @include breakpoint-lg {
    gap: 0;
    flex-direction: column;
    align-items: stretch;

    & > * {
      flex: 0;
    }
  }
}

.lessonNum {
  flex: 0 0 auto;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: 1.4rem;
  font-weight: 800;
  border-radius: 0.5rem;
  background-color: $palette-2;
  background-image: linear-gradient(to bottom right, lighten($palette-2, 10%), darken($palette-2, 10%));
  color: $palette-1;
  text-align: center;
  margin-right: 1rem;

  @include breakpoint-md {
    font-size: 1.8rem;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
  }
}
