@import "/styles/variables.scss";
@import "/styles/mixins.scss";

a.link {
  display: flex;
  align-items: flex-start;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: small;
  text-decoration: none;
  color: $color-text;

  &:hover {
    background-color: $palette-2;
  }

  &PrevResponsive {
    text-align: left;
    flex-direction: row;

    @include breakpoint-lg {
      text-align: right;
      flex-direction: row-reverse;
    }
  }

  &Next {
    text-align: right;
    flex-direction: row-reverse;
  }
}

.arrow {
  width: 1.5rem;
  height: 1.5rem;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 0.5rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;

  &Prev {    
    background-image: url(./img/left-arrow.svg);
  }

  &Next {
    background-image: url(./img/right-arrow.svg);
  }
}

.label {
  font-weight: 800;
}
