.lesson { 
  background-color: white;
  color: #333;
  line-height: 1.7rem;
  margin-bottom: 6rem;
  overflow: visible;  
}

.management {
  @include page-content;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 4rem;

  background-color: white;;
}