@import '/styles/variables.scss';
@import '/styles/mixins.scss';

.logo {
  margin-right: 1rem;
  background-image: url(./img/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.name {
  font-weight: 800;
}

.site {
  color: $palette-1;
}

.dot {
  color: $palette-2;
}

.tld {
  color: black;
}

.brand {
  display: flex;
  align-items: center;
  text-decoration: none;

  &Small {
    font-size: 1.4rem;

    .logo {
      margin-right: 0.5rem;
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  &Large {
    font-size: 1.8rem;

    .logo {
      width: 2rem;
      height: 2rem;
    }

    @include breakpoint-lg {
      font-size: 3rem;

      .logo {
        width: 4rem;
        height: 4rem;
      }
    }
  }
}
