@import "highlight.js/scss/gml.scss";

$code-emph-color: #e3e3e3;

.article-content {
  display: flex;
  align-items: flex-start; // to make the sticky position work
  padding-top: 3rem;
  margin-bottom: 6rem;
  background-color: white;
  color: #333;

  &__nav {
    display: none;
    position: sticky;
    top: 2rem;
    padding-bottom: 3rem;
    padding-right: 2rem;

    border-right: 1px solid lightgrey;

    @include breakpoint-md {
      flex: 0 0 18rem;
      padding-left: 3rem;
      display: block;
    }

    @include breakpoint-lg {
      flex: 0 0 22rem;
      padding-left: 4rem;
    }
  }

  &__section {
    flex: 1;
    // wierd min-width hack to ensure pre tags do not overflow
    // inside flex container.
    // See: https://weblog.west-wind.com/posts/2016/feb/15/flexbox-containers-pre-tags-and-managing-overflow
    min-width: 0;
    padding-bottom: 3rem;
    line-height: 1.7rem;

    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $color-palette-1;
    }

    & > * {
      @include article-element;
    }

    p, ul, ol {
      margin-bottom: 1rem;
    }

    pre {
      background-color: #555;
      color: white;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      overflow-x: auto;
      color-scheme: dark;

      code {
        background-color: transparent;
        padding: 0;
      }
    }

    li pre {
      padding: 0.5rem 1rem;
    }

    code {
      font-family: "Roboto Mono";
      background-color: $code-emph-color;
      padding: 3px 5px;
      border-radius: 3px;
    }

    kbd {
      background-color: #fff;
      box-shadow: 0 0 3px #555;
      border-radius: 3px;
      padding: 0rem 0.5rem;
    }

    li {
      margin-left: 2rem;
    }

    table {
      width: 100%;
      margin-top: 2rem;
      margin-bottom: 2rem;
      border-spacing: 0;
    }

    thead {
      text-align: left;
      background-color: #e0e0e0;
    }

    td,
    th {
      padding: 0.5rem 1rem;
    }

    tbody {
      tr:nth-child(even) {
        background-color: #f0f0f0;
      }

      tr:nth-child(odd) {
        background-color: #fff;
      }
    }
  }
}

.content-controls {
  @include article-element;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: right;
}
