version: "3"
services:
  frontend-dev:
    container_name: frontend-dev
    build:
      context: ../website
      dockerfile: ../docker/dockerfile.dev
    ports:
      - 3000:3000
    volumes:
      - ../website:/app
      - '${CONTENT_DIR}:/content'
      - /home/podlomar/work/kodim/kodim-cms:/home/podlomar/work/kodim/kodim-cms
      - /home/podlomar/work/projects/filefish:/home/podlomar/work/projects/filefish
    networks:
      - directus
    depends_on:
      directus:
        condition: service_healthy

networks:
  directus:
