version: '3'
services:
  frontend:
    container_name: frontend
    build:
      context: ../website
      dockerfile: ../docker/dockerfile
    ports:
      - 3000:3000
    volumes:
      - '${CONTENT_DIR}:/content'
    networks:
      - directus
    depends_on:
      directus:
        condition: service_healthy

networks:
  directus:
