.course-card {
  margin: 8rem 0.5rem 0 0.5rem;
  background-color: $color-palette-5;
  box-shadow: 0 0 5px lightgray;
  padding: 2rem;

  @include breakpoint-md {
    width: 48%;  
    border-radius: 0.5rem;  
  }

  @include breakpoint-lg {
    width: 32%;  
  }

  &__image {
    width: 15rem;
    height: auto;
    margin: -8rem auto 0 auto;
  }

  &__controls {
    padding-top: 2.5rem;
    padding-bottom: 1rem;
    text-align: right;
  }
}