@import "/styles/variables.scss";
@import "/styles/mixins.scss";

.header {
  @include padded;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.footer {
  background-color: $palette-1;
  margin-top: 4rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  color: white;
  min-height: 5rem;
}

.footerContent {
  @include padded;
}

.footerTitle {
  font-size: 1.8rem;
  font-weight: 800;
}

.version {
  font-size: small;
  margin: 0;
}
