@import "styles/variables.scss";
@import "styles/mixins.scss";

.head {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.toggle {
  outline: none;
  border: none;
  background-color: $palette-1;
  color: white;
  border-radius: 5px;
  padding: 0.25rem;
  width: 8rem;

  &:hover {
    background-color: $palette-1-darker;
  }

  &:disabled {
    background-color: #ddd;
    color: #444;
  }
}
