.chapter {
  scroll-margin-top: 2rem;

  &__title-anchor {
    color: inherit;
    text-decoration: none;
    position: relative;

    &::before {
      position: absolute;
      right: 100%;
      opacity: 0.2;
      visibility: hidden;
      content: '#';
    }
    
    &:hover,
    &:focus {
      &::before {
        visibility: inherit;
      }
    }
  }

  &__lead {
    max-width: 20rem;
  }

  &__lessons {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem -1rem 2rem -1rem;
  }
}
