@mixin breakpoint-xs {
  @media only screen and (min-width: $display-xs) {
    @content;
  }
}

@mixin breakpoint-sm {
  @media only screen and (min-width: $display-sm) {
    @content;
  }
}

@mixin breakpoint-md {
  @media only screen and (min-width: $display-md) {
    @content;
  }
}

@mixin breakpoint-lg {
  @media only screen and (min-width: $display-lg) {
    @content;
  }
}

@mixin page-content {
  padding-left: 2rem;
  padding-right: 2rem;
}

@mixin article-element {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
      
  @include breakpoint-sm {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  @include breakpoint-lg {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}