$display-xs: 380px;
$display-sm: 528px;
$display-md: 840px;
$display-lg: 1200px;

$container-sm: 480px; // 720 - 48
$container-md: 792px; // 840 - 48
$container-lg: 1152px; // 1200 - 48

$color-palette-1: #2c3e66; // dark cornflower blue
$color-palette-2: #e26c60; // terra cotta
$color-palette-3: #fff6c8; // lemon chiffon
$color-palette-4: #e8eef7; // alice blue
$color-palette-5: #f8f8f8; // cultured

$color-palette-2-darker: #df6153;

$color-error: #e94e2e;

$font-size: 15px;

$article-heading-color: $color-palette-1;