@import "styles/variables.scss";
@import "styles/mixins.scss";

.article {
  max-width: 48rem;
  margin: 1rem auto;
}

.articleLead {
  font-style: italic;
}

.articleInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}

.articleAuthor {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.authorAvatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

// .articleSummary {
//   background-color: $palette-1;
//   color: white;
//   padding-top: 2rem;
//   padding-bottom: 2rem;
//   margin-top: 2rem;
//   margin-bottom: 2rem;
// }

.articleSummary {
  background-color: $palette-1;
  color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 2rem;
}
