@import "normalize.css/normalize.css";
@import "./variables.scss";
@import "./mixins.scss";

* {
  box-sizing: border-box;

  // Crazy hack to fix a bug in Android Chrome called font boosting
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    max-height: 16777216px;
  }
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

body {
  margin: 0;
  background-color: $palette-3;
  color: $color-text;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @include breakpoint-md {
    width: $container-md;
  }

  @include breakpoint-lg {
    width: $container-lg;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.25;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="url"],
textarea {
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid $palette-1;
  background-color: white;
  color: $color-text;
  transition: border-color 0.2s ease-in-out;
}

input[type="checkbox"] {
  transform: scale(1.5);
  margin-right: 0.5rem;
}


.btn {
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 0.25rem;
  background-color: $palette-1;
  color: white;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}
