@import "styles/variables.scss";
@import "styles/mixins.scss";

.layout {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.header {
  @include padded;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.user {
  background-color: white;
  padding: 0 1rem;
  line-height: 3rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.login {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  a {
    color: $color-text;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.userIcon {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.footer {
  grid-column: span 3;
  background-color: $palette-1;
  margin-top: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: white;
  min-height: 5rem;

  a {
    color: white;
  }
}

.footerContent {
  @include padded;

  display: grid;
  grid-template-columns: 1fr;
  align-items: baseline;
  gap: 1rem;

  @include breakpoint-md {
    grid-template-columns: 1fr 1fr;
  }

  @include breakpoint-lg {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.footerTitle {
  font-size: 1.8rem;
  font-weight: 800;
  margin: 0;
}

.version {
  font-size: small;
  margin: 0;
}
