{% layout "layout" %}
{% block content %}
  <table class="container" role="presentation" cellspacing="0" cellpadding="0" align="center" border="0">
    <tr>
      <td>
        <img class="icon" src="https://kodim.cz/icon-192.png" />
      </td>
    </tr>
    <tr>
      <td>
        <h1>Obnova hesla na Kódím.cz</h1>
        <p>
          Obdrželi jsme žádost o obnovení hesla k vašemu účtu na Kódím.cz. Pokud jste tuto žádost neprovedli, tento e-mail prosím ignorujte. V opačném případě klikněte na následující odkaz pro vytvoření nového hesla.
        </p>
        <a href="{{ url }}">Obnovit heslo</a>
        <p><strong>Důležité:</strong> Tento odkaz je platný pouze 24 hodin</p>
      </td>
    </tr>
  </table>
{% endblock %}