{% layout "layout" %}
{% block content %}
  <table class="container" role="presentation" cellspacing="0" cellpadding="0" align="center" border="0">
    <tr>
      <td>
        <img class="icon" src="https://kodim.cz/icon-192.png" />
      </td>
    </tr>
    <tr>
      <td>
        <h1>Aktivace účtu na Kódím.cz</h1>
        <p>
          Jsme rádi, že jste se zaregistrovali na Kódím.cz. Pro dokončení registrace je třeba ověřit vaši e-mailovou adresu otevřením následujícího odkazu. 
        </p>
        <a href="{{ url }}">Aktivovat účet</a>
      </td>
    </tr>
  </table>
{% endblock %}