.layout__footer {
  color: white;
  background-color: $color-palette-2;
}

.footer {
  @include page-content;
  padding-top: 4rem;
  padding-bottom: 4rem;

  &__title {
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 2.5rem;
  }

  &__version {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
