.login {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.login-panel {
  min-width: 35rem;
  margin: 0 auto 4rem auto;
  padding: 3rem;
  background-color: $color-palette-5;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px lightgray;

  &__title {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  &__apps {
    margin-bottom: 2rem;
  }
}

.form-controls {
  text-align: right;
}

.alert {
  display: flex;

  &__icon {
    width: 2rem;
    height: 2rem;
    background-image: url(./img/alert.svg);
    background-size: contain;
  }

  &__body {
    margin-left: 0.5rem;
    padding-top: 0.5rem;
  }
}
