.login-divider {
  margin-block: 2rem;
  border: none;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}

.form-controls {
  text-align: right;
}

.alert {
  display: flex;

  &__icon {
    width: 2rem;
    height: 2rem;
    background-image: url(./img/alert.svg);
    background-size: contain;
  }

  &__body {
    margin-left: 0.5rem;
    padding-top: 0.5rem;
  }
}
