.info-panel {
  max-width: 35rem;
  margin: 0 auto 4rem auto;
  padding: 3rem;
  background-color: $color-palette-5;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px lightgray;

  &__heading {
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 2rem;
  }

  &__footer {
    margin-top: 2rem;
  }
}
