* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: inherit;
}

html, * {
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: $font-size;
  font-weight: 500;
}

body {
  margin: 0;
  background-color: $color-palette-4;
  line-height: 1.2rem;
  overflow-y: scroll;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @include breakpoint-md {
    width: $container-md;
  }

  @include breakpoint-lg {
    width: $container-lg;
  }
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.3rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.btn {
  background-color: $color-palette-2;
  color: white;
  padding: 0.6rem 1rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  text-decoration: none;

  &:is(a, button):hover {
    background-color: $color-palette-2-darker;
  }
}